@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F5F5F5;
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69F1A1;
    color: #000;
}

#icon_menu{
    display: none;
}

/*PORTADA - COVER*/

main{
    max-width: 1200px;
    /*height: calc(100vh + 800px);*/
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #E8E8E8;
}

.media__cover{
    width: 50%;
}

.media__cover video{
    width: 100%;
    margin-top: -40px;
}

/*BANNER*/

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-heart{
    width: 35%;
    height: 100%;
}

#icon_heart{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: #69F1A1;
}

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}



.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleText{
    font-size: 2.5rem;
}
.text{
    text-align: center;
}
.galeria .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;

}

.galeria .content .box{
    width: 390px;
    margin: 30px;
    border:15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.galeria .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.galeria .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria .content .box .text{
    padding: 15px 0 5px;
}

.galeria .content .box .text h3{
    font-weight: 400;
    color: #111;
}

/**************Funcionamiento*********************/
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;

}

.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
/*.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}*/

.row .col50 .imgBx{
    position: relative;
    width: 100%;
   /* min-height: 300px;*/
   height: 100%;

}

.row .col50 .imgBx img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.testimoniales{
    width:100%;
    min-height: 100vh;
   background:url(../img/hover3.jpg) ;
    background-size: cover;  
}

.white .titleText, 
.white p{
    color: #fff;
}
.testimoniales .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimoniales .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimoniales .content .box .imgBx{
    position: relative;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimoniales .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimoniales .content .box .text{
    text-align: center;
}
.testimoniales .content .box .text p {
    color: #666;
    font-style: italic;

}
.testimoniales .content .box .text h3{
    margin-top: 20px;
    color:#111;
    font-size: 1.5em;
    color: #ff0157;
    font-weight: 600;
}
@media (max-width: 1024px){

    .container__header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_heart{
        left: -60px;
    }

    .banner__icon-fire{
        right: -20px;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .galeria .content{
        margin-top: 20px;
    }
    .galeria .content .box{
        margin: 10px;
    }
    .galeria .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        color: #111;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_heart{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .galeria .content{
        margin-top: 20px;
    }
    .galeria .content .box{
        margin: 10px;
    }
    .galeria .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        color: #111;
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}